#Assignment 1
###Name: Achintya Kant Rstogi
###Regno: 21BCE1493
###Campus: VIT Chennai

In [ ]:
import pandas as pd
import numpy as np

###Task 1- Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [ ]:
dict = {'Band Name':['Gojira', 'Rammstein', 'Mastodon', 'Sepultura', 'Opeth', 'Death', 'Pantera', 'Meshuggah', 'Tool', 'Children Of Bodom'],
        'Formed':[1996, 1994, 1999, 1984, 1990, 1983, 1981, 1987, 1988, 1993],
        'Origin':['France', 'Germany', 'USA', 'Brazil', 'Sweden', 'USA', 'USA', 'Sweden', 'USA', 'Finland'],
        'Monthly Listners':[2088164, 11805128, 1494143, 1690673, 828413, 758557, 6243362, 887149, 4042219, 1064458],
        'Popularity':[74, 80, 68, 64, 63, 59, 73, 64, 76, 67]}
dict

{'Band Name': ['Gojira',
  'Rammstein',
  'Mastodon',
  'Sepultura',
  'Opeth',
  'Death',
  'Pantera',
  'Meshuggah',
  'Tool',
  'Children Of Bodom'],
 'Formed': [1996, 1994, 1999, 1984, 1990, 1983, 1981, 1987, 1988, 1993],
 'Origin': ['France',
  'Germany',
  'USA',
  'Brazil',
  'Sweden',
  'USA',
  'USA',
  'Sweden',
  'USA',
  'Finland'],
 'Monthly Listners': [2088164,
  11805128,
  1494143,
  1690673,
  828413,
  758557,
  6243362,
  887149,
  4042219,
  1064458],
 'Popularity': [74, 80, 68, 64, 63, 59, 73, 64, 76, 67]}

In [ ]:
df = pd.DataFrame(dict)
df

           Band Name  Formed   Origin  Monthly Listners  Popularity
0             Gojira    1996   France           2088164          74
1          Rammstein    1994  Germany          11805128          80
2           Mastodon    1999      USA           1494143          68
3          Sepultura    1984   Brazil           1690673          64
4              Opeth    1990   Sweden            828413          63
5              Death    1983      USA            758557          59
6            Pantera    1981      USA           6243362          73
7          Meshuggah    1987   Sweden            887149          64
8               Tool    1988      USA           4042219          76
9  Children Of Bodom    1993  Finland           1064458          67

###Task 2- Check the info of 'df'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Band Name         10 non-null     object
 1   Formed            10 non-null     int64
 2   Origin            10 non-null     object
 3   Monthly Listners  10 non-null     int64
 4   Popularity        10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes

In [ ]:
df.shape

(10, 5)

###Task 3- Check the descriptive statistics of 'df'

In [ ]:
df.describe()

            Formed  Monthly Listners  Popularity
count    10.000000      1.000000e+01   10.000000
mean   1989.500000      3.090227e+06   68.800000
std       5.948856      3.524804e+06    6.679987
min    1981.000000      7.585570e+05   59.000000
25%    1984.750000      9.314762e+05   64.000000
50%    1989.000000      1.592408e+06   67.500000
75%    1993.750000      3.553705e+06   73.750000
max    1999.000000      1.180513e+07   80.000000

###Task 4- check the 4th index observation with 'loc' slicing operator.

In [ ]:
df.loc[4]

Band Name            Opeth
Formed                1990
Origin              Sweden
Monthly Listners    828413
Popularity              63
Name: 4, dtype: object

###Task 5- Check the null values in your 'df'

In [ ]:
df.isnull().any()

Band Name           False
Formed              False
Origin              False
Monthly Listners    False
Popularity          False
dtype: bool

In [ ]:
df.isnull().sum()

Band Name           0
Formed              0
Origin              0
Monthly Listners    0
Popularity          0
dtype: int64